@charset "UTF-8";

.logo {

    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

body {

    background-image: linear-gradient(rgb(255, 255, 255), rgb(150, 224, 255));
}

.container {

    background-color: grey;
    height: 60vh;
}

.message {
    background-color: white;
    padding: 20px;
    width: 24%;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 20px;
    font-size: large;
}

.onright {
    float: right;
    clear: both;
}

.onleft {
    float: left;
    clear: both;
}