@charset "UTF-8";

.logo {

    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

body {

    background-image: linear-gradient(rgb(255, 255, 255), rgb(150, 224, 255));
    height: 100vh;
}

.container {

    background-color: grey;
    height: 74vh;
}

.message {
    background-color: white;
    padding: 20px;
    width: 24%;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 20px;
    font-size: large;
}

.onright {
    float: right;
    clear: both;
}

.onleft {
    float: left;
    clear: both;
}


/* form css */

#send-container {
    /* text-align: center; */
    position: fixed;
    width: 100%;
    bottom: 9px;
}

#message {
    width: 88%;
    border: 3px solid black;
    border-radius: 6px;
    height: 48px;
}

input[type="submit"] {
    width: 8%;
    height: 52px;
    border: 3px solid black;
    border-radius: 34px;
    font-size: initial;
}

#message {
    width: 88%;
    border: 3px solid black;
    border-radius: 6px;
    height: 48px;
    font-size: large;
    text-align: right;
    padding: 0 15px 0 0;
}


